@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<table>
     <td>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d937.6147673266814!2d-44.19648610000005!3d-19.947187199999984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa6c3b3edd15739%3A0x158c00a313afbe84!2sRua+Alcides+In%C3%A1cio+da+Silva%2C+594+-+Ing%C3%A1!5e0!3m2!1spt-BR!2sbr!4v1399337223085" width="600" height="450" frameborder="0" style="border:0"></iframe>
   </td>
    <td>
<section class="contact">
    <header>
        <h3>Contato</h3>
    </header>
    <p>
        <span class="label">Fixo:</span>
        <span>(31) 3511 - 6483</span>
    </p>
    <p>
        <span class="label">Celular:</span>
        <span>(31) 8892 - 4275</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Rubens:</span>
        <span><a href="mailto:rubensmartins76@yahoo.com.br">rubensmartins76@yahoo.com.br</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Endereço</h3>
    </header>
    <p>
        Rua Alcides Inácio da Silva, 594<br />
        Ingá - Betim/MG - 32604540
    </p>
</section>
        </td>
        </table>